/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng2-slim-loading-bar/style.css";

/* solves the problem of the non-floating placeholder */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { 
    height: 100%;
 }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    border: 1px solid yellow;

}
