<div
id="register"
class="container-fluid m-0 p-0  d-flex justify-content-center align-items-center">
  <div class="container ">
    <div class="row">
      <div class="col-8">

      </div>
      <div  class="col-4">
        <form 
        (ngSubmit)="register($event)"
        class="login-form bg-white p-5 rounded">

        <mat-form-field 
        class="input_field">
          <input 
          matInput
          placeholder="Full Name" 
          [formControl]="validation.name"
          >
          <mat-error *ngIf="validation.name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field 
        class="input_field">
          <input 
          matInput
          placeholder="Username" 
          [formControl]="validation.username"
          >
          <mat-error *ngIf="validation.username.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>

          <mat-form-field 
          class="input_field">
            <input 
            matInput
            placeholder="Email" 
            [formControl]="validation.email"
            >
            <mat-error *ngIf="validation.email.hasError('email') && !validation.email.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="validation.email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field 
          class="input_field">
            <input 
            matInput
            placeholder="Phone Number" 
            [formControl]="validation.phoneno"
            >
            <mat-error *ngIf="validation.phoneno.hasError('phoneno') && !validation.phoneno.hasError('required')">
              Please enter a valid Phone Number
            </mat-error>
            <mat-error *ngIf="validation.phoneno.hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input_field">
            <input 
            matInput  
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            [formControl]="validation.password"
            >
            <button
            style="background-color: transparent; border: 0;" 
            mat-icon-button 
            matSuffix 
            (click)="hide = !hide" 
            [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide">
              <mat-icon>
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
              </button
              >
            <mat-error *ngIf="validation.password.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="validation.password.hasError('min')">
              Password must be at least 6 digits
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input_field">
            <input 
            matInput  
            placeholder="Confirm Password"
            [type]="c_hide ? 'password' : 'text'"
            [formControl]="validation.cpassword"
            >
            <button
            style="background-color: transparent; border: 0;" 
            mat-icon-button 
            matSuffix 
            (click)="c_hide = !c_hide" 
            [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide">
              <mat-icon>
                {{c_hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
              </button
              >
            <mat-error *ngIf="validation.cpassword.hasError('required')">
              Confirm Password is required
            </mat-error>
            <mat-error *ngIf="validation.cpassword.hasError('min')">
              Password must be at least 6 digits
            </mat-error>
          </mat-form-field>

          <mat-form-field 
          class="input_field">
            <input 
            matInput
            placeholder="Best Food" 
            [formControl]="validation.bestfood"
            >
            <mat-error *ngIf="validation.bestfood.hasError('required')">
              Best Food is <strong>required</strong>
            </mat-error>
          </mat-form-field>


          <button class=" mt-3 btn btn-primary" mat-button>Register</button>

        </form>
        
      
      </div>
    </div>
  </div>

</div>