#register {
    height: 91%;
    background: url("https://media.tacdn.com/media/attractions-splice-spp-674x446/07/c2/ab/de.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}