<div class="py-2 bg-primary mx-3 rounded mt-3">
  <h4 class="font-weight-light mx-5  text-white">FOOD</h4>
</div>
<div class="row m-0 p-0 mr-20 ">

  <div  *ngFor="let item of allFood" class="col-sm-6 col-md-4 col-lg-3 my-3 ">
      <mat-card appHover  >
      <img      
      mat-card-image
      [src]="item.imageUrl" 
      [alt]="'photo of ' + item.foodName" >
      <mat-card-content>
      <p>{{item.foodName}}</p>
     <div class="d-flex justify-content-between align-items-baseline">
      <div class="d-flex">
        <s class="text-muted mr-4">{{item.actualPrice}}</s>
      <p class="font-weight-bold text-primary">{{item.promoPrice}}</p>
      </div>
      <button mat-fab color="primary" (click)="registerOrder(item)" >Order</button>
     </div>
      </mat-card-content>
      </mat-card>
</div>
<div id="orders">
  <app-orderlist [orderedItems]="selectedItem" ></app-orderlist>
</div>
</div>


